/* Global */
html {
    box-sizing: border-box;
}

*,
*::after,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header_logo {
    max-width: 100%;
}

/* - Family: [Open Sans] - Weights: 400, 600, 700
Poppins) - Weights: 700 */

/* font-family: 'Poppins', */

body {
    margin: 0;
    /* background-color: rgb(241, 241, 241); */
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins';
    font-size: 2em;
    /* font-weight: 700; */
}

.container {
    background-color: white;
    max-width: 1440px;
    min-width: 1300px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.flexbox_space_between {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */

}

.flexbox_space_around {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.flex-item {
    align-self: center;
    margin: 50px;
}


.button {
    padding: 8px 35px;
    font-size: 14px;
    border: 2px solid #FD53C0;
    color: #FD53c0;
    line-height: 14px;
    border-radius: 15px;
}

.button:hover {
    color: #fff;
    background-color: #FD53C0;
    cursor: pointer;
}

/* -------------- header ------------- */

header {
    padding: 50px 100px;

}

header>div {
    flex-wrap: wrap;
    /* text-align: center; */
}

/* --------- Top section ------------ */

.top_section {
    text-align: center;
}

.top_section>h1 {
    font-size: 3em;
}

.top_section_paragraph {
    margin: 30px auto;
    width: 35%;
}

.top_section_button {
    padding: 15px 70px;
    display: inline-block;
    background-color: #FD53c0;
    color: #fff;
    border-radius: 55px;
}

.top_section_image {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 65%;
}

/* ------- counting section ---------------- */

.counting_section {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;

}

.counting_section_images {
    width: 15%;
}

.counting_section h2 {
    margin: 0;
    font-size: 5em;
}

.counting_section span {
    font-size: 1.2rem;
    color: gray;
}

/* ---------- section one ----------------- */


.section_one {
    background-color: hsl(207, 100%, 98%);
    padding-right: 150px;
    padding-left: 50px;
}




/* ---------- section two ----------------- */

.section_two {
    padding-right: 150px;
    padding-left: 50px;
    flex-direction: row-reverse;
    /* flex-wrap: wrap; */
}

/* ---------- section three ----------------- */

.section_three {
    padding-right: 150px;
    padding-left: 50px;
    background-color: hsl(207, 100%, 98%);
}



/* ------------ bottom section ----------- */

.bottom_section {
    margin: 50px auto;
    text-align: center;
}

.bottom_section>button {
    width: 200px;
    color: black;
}

/* ---------- footer section ------------ */

.footer {
    padding-right: 10px;
    padding-left: 50px;
    background-color: hsl(192, 100%, 9%);
    color: #fff;
}

.footer_header {
    margin: 0;
}

.footer_links {
    text-decoration: none;
    color: #fff;
    margin-left: 25px;
}

.footer_connection {
    margin-top: 20px;
}

.footer-email-input {
    width: 240px;
    height: 37px;
    border-radius: 6px;
    /* font-size: 23px; */
}

.footer-button {
    background-color: #FD53C0;
    color: #fff;
    border-radius: 6px;
    padding: 12px 32px;
    border-style: none;
    margin-left: 30px;
}